  <section class="hero primary">
    <div class="hero-content">
      <div class="container">
        <p class="title">Title</p>
        <p class="subtitle">Subtitle</p>
      </div>
    </div>
  </section>
  <div id="sign_up" class=" container">
    <h4 class="center-align">Join our growing foraging community</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row">
        <%= devise_error_messages! %>
    </div>
    <div class="row">
      <div class="col l4 offset-l2 s12">
        <div class="flex">
          <%= f.label :username, "Brugernavn" %>
          <%= f.text_field :username, autofocus: true %>
        </div>
        <div class="flex">
          <%= f.label :email %>
          <%= f.email_field :email, class: "full" %>
        </div>

      </div>
      <div class="col l4 s12">
        <div class="flex">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="flex center-text">
          <% if @minimum_password_length %>
            <small><em class="">(Password needs to be <%= @minimum_password_length %> characters long at least)</em></small>
          <% end %>
        </div>
        <div class="flex">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>


      </div>
      <br /><br />
      <div class="col navbar offset-l5 l2 offset-s3 s5">

        <%= render "devise/shared/links" %>
        <%= f.submit "Registrer", class: "button blue" %>
      </div>
    </div>

    <% end %>
  </div>
