<div class="container">
  <div class="row">
    <h4><%= @user.username %></h4>
  </div>
  <div class="row">
    <div class="col l6">
      <%= map(:container_id => "map",
          :center => {
            :latlng => [50.5, 30.5],
            :zoom => 16
          }) %>
    </div>
    <div class="col l6"><ul>
      <% unless @user.places.blank? %>
        <h6>Places (<%= @user.places.count %>)</h6>

        <% @user.places.each do |place| %>
          <li><%= place.title %><%= place.category.presence ? link_to("#{place.category.name}", category_path(place.category.id)) : '' %></li>
        <% end %>
      <% end %>
    <ul></div>
  </div>

</div>
