<div class="overlay">
  <%= form_for @place, method: "create", id: "new_place", remote: true do |f| %>
    <div class="row">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="row">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <div class="row">
      <%= f.text_field :lat, hidden: false %><br />
      <%= f.text_field :lng, hidden: false %>
    </div>
    <div class="row">
      <%= collection_select(:category , :category_id, Category.all , :id, :name, {:prompt => 'Select Category...'}) %>
    </div>
    <%= f.submit "Tilføj Sted" %>
    <a onClick="closeDialouge()" class="close">x</a>
  <% end %>
</div>
