<% if defined? @places %>
  [<% @places.each_with_index do |place, index| %>
  <% place_link = (link_to "se sted", place_path(place)).html_safe %>
  {
      "type": "Feature",
      "properties": {
          "name": "<%= place.title %>",
          "popupContent": "<strong><%= place.title %></strong><br /><%= place.description %><br /><a href='<%= place_path(place) %>' title='Zoom til sted' data-remote='true'>Zoom ind</a>&nbsp;|&nbsp;<a href='<%= place_path(place) %>' title='Mere info'>mere info</a>"
      },
      "geometry": {
          "type": "Point",
          "style": "myStyle",
          "coordinates": [<%= place.lng %>, <%= place.lat %>]
      }
  }<%= index < @places.count - 1 ? "," : "" %>
  <% end %>]
<% else %>
  [
  <% if @nearbys.blank? %>
    <% #no nearbys %>
  <% else %>
    <% @nearbys.each_with_index do |nearby| %>
    {
        "type": "Feature",
        "properties": {
            "name": "<%= nearby.title %>",
            "popupContent": "<strong><%= nearby.title %></strong><br /><%= nearby.description %>"
        },
        "geometry": {
            "type": "Point",
            "style": "myStyle",
            "coordinates": [<%= nearby.lng %>, <%= nearby.lat %>]
        }
    },
    <% end %>
  <% end %>

  {
      "type": "Feature",
      "properties": {
          "name": "<%= @place.title %>",
          "popupContent": "<strong><%= @place.title %></strong><br /><%= @place.description %>"
      },
      "geometry": {
          "type": "Point",
          "style": "myStyle",
          "coordinates": [<%= @place.lng %>, <%= @place.lat %>]
      }
  }]
<% end %>
