<% if defined? @places %>
  [<% @places.each_with_index do |place, index| %>
  <% place_link = (link_to "se sted", place_path(place)).html_safe %>
  {
      "type": "Feature",
      "properties": {
          "name": "<%= place.title %>",
          "popupContent": "<strong><%= place.title %></strong><br /><%= place.description %><br /><a href='<%= place_path(place) %>' title='Gå til sted'>Vis sted</a>"
      },
      "geometry": {
          "type": "Point",
          "style": "myStyle",
          "coordinates": [<%= place.lng %>, <%= place.lat %>]
      }
  }<%= index < @places.count - 1 ? "," : "" %>
  <% end %>]
<% else %>
  [{
      "type": "Feature",
      "properties": {
          "name": "<%= @place.title %>",
          "popupContent": "<strong><%= @place.title %></strong><br /><%= @place.description %>"
      },
      "geometry": {
          "type": "Point",
          "style": "myStyle",
          "coordinates": [<%= @place.lng %>, <%= @place.lat %>]
      }
  }]
<% end %>
