<div id="pagewrap" class="map landing">
  <script>
    var myIcon = L.icon({
        iconSize: [25, 41],
        iconAnchor: [22, 94],
        popupAnchor: [-9, -96],
        shadowSize: [41, 41],
        shadowAnchor: [22, 94],
        iconUrl: '<%= image_path('marker-icon.png') %>',
        iconRetinaUrl: '<%= image_path('marker-shadow@2x.png') %>',
        shadowUrl: '<%= image_path('marker-shadow.png') %>',
        shadowRetinaUrl: '<%= image_path('marker-shadow@2x.png') %>'
    });
  </script>
  <%= map(:container_id => "map",
      :center => {
        :latlng => [50.5, 30.5],
        :zoom => 18
      }) %>
</div>
