<header>
  <div class="inner">
    <!-- Byhoest logo -->
    <div id="logo" class="fleft">
      <%= link_to "Byhøst", root_path, title: "Byhøst.dk" %>
    </div>
    <!-- /Byhoest logo -->
    <div class="fright">

      <!-- Page Navigation -->
      <nav id="pagenav" class="fleft">
        <li><a href="#">Opskrifter</a></li>
        <li><%= link_to "Almanak", almanak_path %></li>
        <li><a href="#">Kort</a></li>
        <li><a href="#">Byhøstguide</a></li>
        <li><%= link_to "Events", events_path %></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Om Byhøst</a></li>
      </nav>
      <!-- /Page Navigation -->

      <!-- Search Box -->
      <div id="searchbox" class="fleft" >
        <input type="button" value="Søg">
        <input type="search" placeholder="søg..."  />
      </div>
      <!-- /Search Box -->

      <!-- Login Box -->
      <div id="login" class="fleft">
        <%= link_to "Log ind", user_session_path %>
      </div>
      <!-- /Login Box -->
      <% if current_user %>
        <%= render 'layouts/usernav' %>
      <% end %>

    </div>
  </div>
</header>
